.row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 20px;
    margin-bottom: 20px;
}

.card {
    padding: 20px;
    border-radius: 6px;
    background-color: white;
    color: powderblue;
    margin: 20px;
}

.text {
    padding: 20px;
    border-radius: 6px;
    background-color: white;
    color: black;
    margin: 20px;
}

.col {
    flex: 1;
    text-align: center;
}